
#main{
    background-color: #c9ccf5;
    width: 95%;
    height: 850px;
    opacity: 100%;
    transform: rotate(-27deg);
    margin-top: -430px;
    margin-left: 140px;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
}
#main2{
    background-color:#a7acf2;
    width: 100%;
    height: 800px;
    opacity: 60%;
    transform: rotate(-11deg);
    margin-top: -405px;
    margin-left: -30px;;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
}
#main3{
    background-color:#7B7CE8;
    width: 100%;
    height: 800px;
    opacity: 90%;
    transform: rotate(-17deg);
    margin-top: -350px;
    margin-left: 30px;
    border-radius: 50px;
    position: absolute;
    z-index: 5;
}
#main4{
    background-color: #7a78f0;
    width: 100%;
    height: 870px;
    transform: rotate(-24deg);
    margin-top: -575px;
    box-shadow: 0 0 2px 2px #8b8b8f;
    border-radius: 30px;
    position: absolute;
    z-index: 5;
}
.name{
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    z-index: 10;
    padding-left: 40px;
    padding-top: 15px;
}
.row{
    position:absolute;
    z-index: 10;
    width: 100%;
}

.text{
    padding-top: 200px;
    margin-left: 110px;
    margin-right: -200px;
    margin-top: -100px;
    color: white;
    font-size: 50px;
    z-index: 10;
    font-weight: bold;
    text-align: left;
}
.text2{
    color: white;
    font-size: large;
    font-weight: normal;
    padding-top: 20px;
}
.info{
    background-color: white;
    width: 180px;
    height: 70px;
    border: none;
    margin-top: 30px;
}
.btext{
    font-weight: bold;
    font-size: 15px;
}
.btext2{
    font-weight: lighter;
    font-size: 12px;
}
.box{
    width: 400px;
    height: 550px;
    background-color: black;
    opacity: 70%;
    margin-top: 40px;    
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 4px 4px;
}
.title{
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
hr{
    border: 2px solid white;
    width: 100%;
    z-index: 10;
}
.email{
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
input{
    margin: 10px;
}
#button{
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
}

@media only screen and (max-width: 992px) {
    html {
        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;
        position: relative;
      }
      body {
        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;
        position: relative;
      }
      
    .row .text{
        position: absolute;
        top: 600px;
        color: #7a78f0;
        z-index: 10;
        text-align: center;
        font-size: 200%;
        margin-left: auto;
        margin-right: auto;

    }
    .row .box{
        top: 30px;
        margin-left: 15%;
        width: 350px;
        position: absolute;

    }
    #main{
        background-color: #c9ccf5;
        width: 95%;
        height: 1100px;
        opacity: 100%;
        transform: rotate(-35deg);
        margin-top: -430px;
        margin-left: 40px;
        border-radius: 50px;
        position: absolute;
        z-index: 2;
    }
    #main2{
        background-color:#a7acf2;
        width: 100%;
        height: 900px;
        opacity: 60%;
        transform: rotate(-15deg);
        margin-top: -405px;
        margin-left: -30px;;
        border-radius: 50px;
        position: absolute;
        z-index: 3;
    }
    #main3{
        background-color:#7B7CE8;
        width: 150%;
        height: 800px;
        opacity: 90%;
        transform: rotate(-22deg);
        margin-top: -300px;
        margin-left: 30px;
        border-radius: 50px;
        position: absolute;
        z-index: 5;
    }
    #main4{
        background-color: #7a78f0;
        width: 150%;
        height: 1000px;
        transform: rotate(-20deg);
        margin-top: -700px;
        box-shadow: 0 0 2px 2px #8b8b8f;
        border-radius: 30px;
        position: absolute;
        z-index: 5;
    }
    .info{
     background-color: #7B7CE8;  
     margin-bottom: 20px; 
     color: white;
    border-radius: 10px;
    }
    }
    @media only screen and (max-width: 430px) {

    .row .box{
        width: 80%;
        margin-left:7%;
        margin-right: auto;
        
    }
    .login{
        width: 80%;
    }
}